<component name="ArtifactManager">
  <artifact type="war" name="SpringAnnotationMobilePhone:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-Phone.war">
      <element id="artifact" artifact-name="SpringAnnotationMobilePhone:war exploded" />
    </root>
  </artifact>
</component>